<nav class="navbar">
    <div class="navbuttons">
      <a href="/dj">DJ</a>
      <a href="/producer">Producer</a>
      <a href="/listener">Listener</a>
    </div>
  
  </nav>
  <script>
    function darkMode() {
      let element = document.body;
      element.classList.toggle("dark");
    }
  </script>
  
  <p style="margin: 5px">Currently playing: <%= currentSong %><button style="float:right;margin-right: 5px;margin-top: 5px;" id="modeButton" onclick="darkMode()">Dark/Light Mode</button><br><br></p>