<div id="logindiv">
    <b>Login below!</b>
    <br><br>
    <form id="loginform" action="/login" method="post">
        <input id="logintext" type="text" name="user" id="user" placeholder="Enter your username here!"><br><br>
        <input id="loginbutton" type="submit" value="Log in!">
    </form>
</div>