<h1>Producer View</h1>
  <p>Choose a DJ, a time-slot, and finalize the playlist!</p>
  <div class="grid">
    <div class="djlist">
      DJ List
      <hr />
      <ul id="listofdjs">
        <!-- DJs go here -->
      </ul>
    </div>
    <div class="timeslot">
      MM/DD/YY
      <hr />
      <ul id="listoftimes">
        <!-- Times go here -->
      </ul>
    </div>
    <div class="playlist">
      DJ's Playlist
      <hr />
      <ul id="listofsongs">
        <!-- Songs go here -->
        <!-- <li>Chart Topper - Singer<span class="listicon">➖</span></li>
        <li>Song 2 - Artist Man<span class="listicon">➖</span></li>
        <li>Song Song - Singer 2<span class="listicon">➖</span></li>
        <li>Another Song - Another Artist<span class="listicon">➖</span></li> -->
      </ul>
    </div>
    <div class="songadd">
      <div class="navsearch songsearch">
        <form class="searchform" action="#">
          <input
            type="text"
            style="width: 100%"
            placeholder="Search for song name here!"
            id="songsearchinput"
          />
          <button type="submit">Search</button>
        </form>
      </div>
      <ul id="searchsongs">
        <!-- <li>Eternal Song <span class="listicon">➕</span></li>
        <li>Song of Forever <span class="listicon">➕</span></li>
        <li>Template Song <span class="listicon">➕</span></li>
        <li>Song with no words...<span class="listicon">➕</span></li> -->
      </ul>
    </div>
  </div>
  <br />
  <button id="save" onclick="alert('DJ: ' + selectedDJ + '\nTime: ' + selectedTime + '\nSongs:' + listPlaylist())">Save</button>